<%- unless @books_by_year == nil -%>
  <%- @books_by_year.each do |year, bookhash| -%>
    <h5><%= year %></h5>
    <%- counter = 0 -%>
    <table width=100%>
      <tbody>
        <%- bookhash.each do |book| -%>
          <%- counter += 1 -%>
          <tr><td><%= counter %></td><td><%= link_to book.title, user_book_path(@user, book) %> by <%= book.author %></td></tr>
        <%- end -%>
      </tbody>
    </table>
  <%- end -%>
<%- end -%>

<%- if user_signed_in? -%>
  <%- if current_user == User.find(params[:id]) -%>

    <%= form_tag(new_user_book_path(current_user), method: "get") do %>
      <%= label_tag(:q, "Title:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag "Search", class: "button" %>
    <% end %>

  <%- end -%>
<%- end -%>
