<div class="small-2 small-offset-1 columns">
  <div><%= image_tag @gravatar_url, class: "th" %></div>
  <span class="label"><%= @user.username %></span>

  <%- unless @books_by_year.values.last == nil -%>
    <%- if @books_by_year.values.last.size >= 1 -%>
      <h5><%= @books_by_year.keys.last %> Badges:</h5>
      <h5><i class="fi-book"></i> 1 book</h5>
      <%- if @books_by_year.values.last.size >= 5 -%>
        <h5><i class="fi-star"></i> 5 books</h5>
        <%- if @books_by_year.values.last.size >= 10 -%>
          <h5><i class="fi-sheriff-badge"></i> 10 books</h5>
          <%- if @books_by_year.values.last.size >= 25 -%>
            <h5><i class="fi-trophy"></i> 25 books</h5>
            <%- if @books_by_year.values.last.size >= 50 -%>
              <h5><i class="fi-crown"></i> 50 books</h5>
            <%- end -%>
          <%- end -%>
        <%- end -%>
      <%- end -%>
    <%- end -%>
  <%- end -%>
</div>
<div class="small-6 columns">
  <ul class="inline-list">
    <li>Share this book list on Facebook:</li>
    <li><%= social_share_button_tag(@user.username, url: @facebook_share_url) %></li>
  </ul>
  <%- if user_signed_in? -%>
    <%- if current_user == User.find(params[:id]) -%>
      <%= simple_form_for @user do |f| %>
        <%= f.input :about, label: false, placeholder: "About #{@user.username}" %>
        <%= f.button :submit, "Update 'About #{@user.username}'" %>
      <% end %>
    <%- end -%>
  <%- end -%>
  <%- unless @user.about.nil? -%>
    <%- unless @user.about.empty? -%>
      <div class="panel">
        <p>
          <%= @user.about %>
        </p>
      </div>
    <%- end -%>
  <%- end -%>

  <dl class="tabs" data-tab>
    <% @books_by_year.each do |year, bookarray| %>
      <dd class=
        <% if year == @books_by_year.keys.last %>
          "active"
        <% else %>
          nil
        <% end %>
        ><%= link_to year, "#list-#{year}" %>
      </dd>
    <% end %>
  </dl>

  <div class="tabs-content">

    <% @books_by_year.each do |year, bookarray| %>
      <div class=
        <% if year == @books_by_year.keys.last %>
          "content active"
        <% else %>
          "content"
        <% end %>
        id="list-<%= year %>">
        <%- counter = 0 -%>
        <table width=100%>
          <tbody>
            <%- bookarray.each do |book| -%>
              <%- counter += 1 -%>
              <tr><td><%= counter %></td><td><%= link_to book.title, user_book_path(@user, book) %> by <%= book.author %>
                  <%- if book.brief == nil %>
                    </td>
                  <%- else %>
                    <br /><em>&nbsp;&nbsp;&nbsp;<%= book.brief %></em></td>
                  <%- end %>
                </tr>
            <%- end -%>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>

  <%- if user_signed_in? -%>
    <%- if current_user == User.find(params[:id]) -%>

      <%= form_tag(new_user_book_path(current_user), method: "get") do %>
        <%= label_tag(:q, "Title:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag "Search", class: "button" %>
      <% end %>

    <%- end -%>
  <%- end -%>
</div>
