<%- if user_signed_in? -%>

  <%- unless current_user.books == nil -%>
    <%- current_user.books.each do |book| -%>
      <p><%= book.title %></p>
    <%- end -%>
  <%- end -%>

  <%= form_tag(new_user_book_path(current_user), method: "get") do %>
    <%= label_tag(:q, "Title:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>

<!--   params[:q] -->

<%- end -%>
