<%- if user_signed_in? -%>

  <%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <%= f.input :author %>
    <div>
      <%= f.label 'Date Completed' %>
      <%= f.date_select :date_completed %>
    </div>
    <%= f.submit 'Add Book' %>
  <% end %>

<%- end -%>
