<%- if user_signed_in? -%>

  <%- if @book_hash == nil -%>
    <div class="row">
      <div class="small-12 columns">
        <h1><%= @book.title %></h1>
        <h3>by <%= @book.author %></h3>
        <h5>Completed On: <%= @book.date_completed.to_date %></h5>
      </div>
    </div>
  <%- else -%>
    <div class="row">
      <div class="small-2 columns">
        <%= link_to image_tag(@book_hash.image_url), @book_hash.link %>
        <span class="secondary label">via <%= link_to 'Goodreads', @book_hash.link %></span>
      </div>
      <div class="small-10 columns">
        <h1><%= @book.title %></h1>
        <h3>by <%= @book.author %></h3>
        <h5>Completed On: <%= @book.date_completed.to_date %></h5>
      </div>
    </div>
  <%- end -%>

  <%- if current_user == @book.user -%>
    <ul class="inline-list">
      <li><%= button_to "Remove Book", { action: "destroy", id: @book.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "button small" %></li>
      <li><%= button_to 'Back To Your List', user_path(current_user), method: :get, class: "button small" %></li>
    </ul>
  <%- end -%>

<%- else -%>

 <div class="panel radius">
    <h4>You must be <%= link_to 'signed in', new_user_session_path %> to view this content.</h4>
  </div>

<%- end -%>
